.o-form {

    &__input {
        font-family: $font-family-barlow;
        height: $height-input;
        font-size: $spacing-default * 2;
        font-weight: $font-regular;
        padding: $spacing-default - 2 $spacing-default * 4 $spacing-default $spacing-default - 2;
        border: 0;
        border-bottom: 1px solid $color-gray;
        outline: 0;
        transition: $transition-default;

        &:focus {
            border-bottom: 1px solid $color-primary;
        }

        &--sayt {
            background-image: url($path-images + "icon-search.svg");
            background-repeat: no-repeat;
            background-position: 98% 40%;
            width: $spacing-default * 27;

            &:focus {
                border-bottom: 1px solid $color-primary;
            }
        }
    }
}

::-webkit-input-placeholder {
    color: $color-dark-gray;
}

::-moz-placeholder {
    color: $color-dark-gray;
}

:-ms-input-placeholder {
    color: $color-dark-gray;
}

:-moz-placeholder {
    color: $color-dark-gray;
}
