@import "assets/styles/1_settings/all";
@import "assets/styles/2_tools/all";
@import "assets/styles/3_generic/all";
@import "assets/styles/4_elements/all";
@import "assets/styles/5_objects/all";
@import "assets/styles/7_utilities/all";

html,
body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}